

{% set oldheader = header  %}
{% set newheader = header|replace({'</head>':(style ~ script ~ '</head>')}) %}
{% if oldheader == newheader %}
	{% set newheader = header|replace({'<div id="container">':(style ~ script ~ '<div id="container">')}) %}
{% endif %}

{{ newheader }}{{ column_left }}


<div id="content">
	<form action="{{ action }}" method="post" id="form-magic360" name="form-magic360" class="form-horizontal">
		<div class="page-header">
			<div class="container-fluid">
	   			<div class="pull-right">
					<button type="submit" form="form-magic360" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
					<a href="{{ cancel }}" data-toggle="tooltip" title="{{ title }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
	    		</div>
	    		<h1>{{ heading_title }}</h1>
			    <ul class="breadcrumb">
			    	{% for breadcrumb in breadcrumbs %}
			    		<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
			    	{% endfor %}
			    </ul>
			</div>
    	</div>

		<div class="container-fluid">
                    {% if refresh_modifications %}
                        <iframe style="display:none;" src="{{constant('HTTPS_SERVER')}}index.php?route=marketplace/modification/refresh&{{ token_url }}" width="0" height="0"></iframe>
                    {% endif %}
			{% if error_warning %}
			    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			      <button type="button" class="close" data-dismiss="alert">&times;</button>
			    </div>
		    {% endif %}

			<div class="content">

			  	{% if trial %}
			  		{{ trial_bage }}
				{% endif %}
  

  				<ul class="nav nav-tabs" {{ (blocks|length > 1) ? '' : ' style="display:none;"' }}>

                    
					<li class="active" >
		    			<a href="#tab-general" data-toggle="tab">General</a>
					</li>

		
					{% for block_id, block_name in blocks if block_id != 'default' %}
						<li>
						    <a href="#tab-{{ block_id }}" data-toggle="tab">{{ block_name }}</a>
						</li>
					{% endfor %}

				</ul>
    
    			<div class="tab-content">
					<div class="tab-pane  active" id="tab-general">
	    				<div class="panel panel-default">
							<div class="panel-heading">
		    					<h3 class="panel-title"><i class="fa fa-pencil"></i>Module status</h3>
							</div>
							<div class="panel-body">
							    <div class="form-group">
									<label class="col-sm-2 control-label" for="magic360settingStatus">Enable/Disable module</label>
									<div class="col-sm-10">
			  							<select name="magic360_status" class="form-control">
											<option value="1" {{ magic360_status ? 'selected' }} >{{ text_enabled }}</option>
											<option value="0" {{ not magic360_status ? 'selected'}} >{{ text_disabled }}</option>
			  							</select>
			  							<input type="hidden" name="magic360_status_was" value="{{ magic360_status }}">
									</div>
		    					</div>
		    
							</div>
	    				</div>
        
					    {{ groupsHTML['general'] }}
	    
	    				<div class="panel panel-default">
		    				<div class="panel-heading">
								<h3 class="panel-title"><i class="fa fa-pencil"></i>Other</h3>
		    				</div>
		    
		    				<div class="panel-body">
								<div class="form-group">
									<label class="col-sm-2 control-label" for="magic360settingChache-path">Path to cache folder</label>
									<div class="col-sm-10">
										<input class="form-control" type="text" size="60" value="{{ path_to_cache }}" disabled="disabled" />
										<p class="help-block">Relative for site base path</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="magic360settingTotal-items">Total items</label>
									<div class="col-sm-10">
										<input class="form-control" type="text" size="60" value="{{ total_items }}" disabled="disabled" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="magic360settingUnuser-items">Unused items</label>
									<div class="col-sm-10">
										<input class="form-control" type="text" size="60" value="{{ unused_items }}" disabled="disabled" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="magic360settingEmpte-chache">Empty cache</label>
									<div class="col-sm-10">
										<select class="form-control" name="what-clear">
											<option value="unused_items" selected="selected">Delete unused items</option>
											<option value="all_items">Delete all items</option>
										</select>&nbsp;
										<input type="hidden" id="clear_cache" name="clear_cache" value="0" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2"></div>
									<div class=" col-sm-10">
										<a class="btn btn-primary" onclick="$('#clear_cache').val(1);$(this).closest('form').submit();" class="button"><span>{{ button_clear }}</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
	
					{% for block_id , block_name in blocks if block_id != 'default' %}
					     {% if block_id == 'module' %}
                                                <div class="tab-pane panel panel-default" id="tab-module">
                                                <div class="panel-heading" style="padding: 12px 15px 12px">
                                                    <h3 class="panel-title" style="line-height: 36px;"><i class="fa fa-pencil"></i>Slideshow boxes</h3>
                                                    <div class="pull-right">
                                                        <a href="{{ new_module }}" target="blank" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Add slideshow box" aria-describedby="tooltip57507"><i class="fa fa-plus-circle"></i> Add slideshow box</a>
                                                    </div>
                                                </div>
                                                    
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                <td class="text-left">Name</td>
                                                                <td class="text-left">Status</td>
                                                                <td class="text-right">Action</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            
                                                                {% if slideshow_modules %}
                                                                    {% for extension in slideshow_modules %}
                                                                        <tr>
                                                                            <td><b>{{ extension.name }}</b></td>
                                                                            <td>{{ extension.status }}</td>
                                                                            <td class="text-right">
                                                                                <a href="{{ extension.edit }}" target="blank" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                                                                <a href="{{ extension.delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-warning"><i class="fa fa-trash-o"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                
                                                
                                                
                                            {% else %}
                                                {{ (groupsHTML[block_id]) }}
                                           {% endif %}

					{% endfor %}
	  
				</div>
      		</div>
      	</div>	
	</form>
</div>

{{ footer }}
